.msg {
  color: #ffffff;
  padding: 0.625rem 0.9375rem;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
}
.msg__info {
  background-color: var(--main-color);
}
.msg__warning {
  background-color: var(--current);
}
.msg__error {
  background-color: var(--error);
}

.auth__info {
  background-color: var(--main-color);
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -2%);
}
