.auth {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.auth__form {
  width: 23.4375rem;
  display: flex;
  flex-direction: column;
}
.auth__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.625rem;
}
.auth__check-to-sign-up {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #b1b1b1;
  padding: 0.3125rem;
  margin-bottom: 0.3125rem;
}

@media only screen and (max-width: 370px) {
  .auth__form {
    margin: 0 0.625rem;
  }
}
