.footer {
  background-color: var(--main-color);
  color: #ffffff;
  font-family: "open-sans";
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 2.875rem;
  text-align: center;
  flex-shrink: 0;
}
@media only screen and (max-width: 290px) {
  .footer {
    line-height: 1.875rem;
  }
}
