.contacts {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contacts__list,
.contacts__map {
  outline: 1px solid #e7e5e5;
  border-bottom: 4px solid var(--second-color);
  padding: 1.875rem;
}
.contacts__list {
  font-size: 1.0625rem;
  line-height: 1.75rem;
  letter-spacing: 0.3px;
}
.contacts__item span {
  font-weight: 700;
}
.contacts__map {
  width: 37.5rem;
  height: 28.125rem;
}
@media only screen and (max-width: 1008px) {
  .contacts {
    flex-direction: column;
  }
  .contacts__left {
    order: 1;
  }
}
@media only screen and (max-width: 690px) {
  .contacts__map {
    width: 28.125rem;
  }
}
@media only screen and (max-width: 490px) {
  .contacts__list {
    padding: 0.625rem;
  }
  .contacts__map {
    width: 21.875rem;
    height: 21.875rem;
  }
  .contacts__item {
    font-size: 0.75rem;
    line-height: 1.375rem;
  }
}
@media only screen and (max-width: 350px) {
  .contacts__map {
    width: 15.625rem;
    height: 15.625rem;
  }
}
