.popular {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popular__wrapper {
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.popular__img {
  max-width: 25rem;
}
.popular__description {
  max-width: 37.5rem;
  text-indent: 0.9375rem;
  text-align: justify;
}

.popular__sold {
  font-weight: 700;
}

.popular__sold span {
  padding: 0.3125rem 0.625rem;
  border-radius: 3px;
  color: #ffffff;
  background-color: var(--current);
}
