.categories {
  flex: auto;
}
.categories__title {
  width: 100%;
  background-color: var(--main-color);
  color: #ffffff;
  font-family: "bebas-neue";
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5625rem;
  padding: 1.25rem 0 0.9375rem 12.5rem;
}
.categories__title-category {
  padding-right: 0;
  padding-left: 0;
  color: #afafaf;
  background-color: #fff;
  text-align: center;
}
.categories__wrap {
  max-width: 54.6875rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 3rem auto 4.5625rem;
}
.category {
  outline: 1px solid #e7e5e5;
  border-bottom: 0.25rem solid var(--second-color);
  padding: 1.875rem;
  margin-bottom: 2.8125rem;
  height: 16.25rem;
  max-width: 15.8125rem;
  width: 100%;
  display: grid;
  grid-template-rows: 2fr 0.5fr 0.5fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'prod-img prod-img' 'prod-title prod-title' 'prod-price prod-btn';
}
.category__img {
  max-width: 7.5rem;
  height: 100%;
  grid-area: prod-img;
  align-self: center;
  justify-self: center;
}
.category__title {
  grid-area: prod-title;
  align-self: flex-end;
  justify-self: center;
  margin-top: 0.625rem;
}

.category__price {
  font-size: 1.6875rem;
  line-height: 1.5625rem;
  grid-area: prod-price;
  justify-self: center;
  align-self: center;
}

@media only screen and (max-width: 960px) {
  .categories__title {
    padding-left: 0;
    text-align: center;
  }
  .categories__wrap {
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 390px) {
  .categories__title {
    font-size: 1.875rem;
  }
}
