.slider {
  background-color: var(--main-color);
  height: 27.8125rem;
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider__wrap {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider__left {
  max-width: 17.375rem;
  width: 100%;
  height: 20.3125rem;
  position: relative;
}

.slider__right {
  width: 41.5%;
  height: 20.3125rem;
}

.slider__title {
  color: #ffffff;
  font-family: "bebas-neue";
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 6.25rem;
  word-wrap: break-word;
}

.slider__text {
  color: #ffffff;
  font-family: "open-sans";
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.75rem;
  margin-bottom: 1.25rem;
}

.t-shirt {
  width: 100%;
}

@media only screen and (max-width: 960px) {
  .slider__wrap {
    justify-content: space-around;
  }
  .slider__title {
    font-size: 2.8125rem;
    line-height: 2.5rem;
  }
}
@media only screen and (max-width: 690px) {
  .slider__wrap {
    flex-direction: column;
  }
  .t-shirt {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .t-shirt-shadow {
    width: 55%;
    left: 52%;
    bottom: -0.5%;
    transform: translate(-52%, 0.5%);
  }
  .slider__right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .slider__title {
    font-size: 2.8125rem;
    line-height: 2.5rem;
  }
  .slider__text {
    padding: 0 0.9375rem;
    margin-bottom: 0.625rem;
  }
}

@media only screen and (max-width: 490px) {
  .slider__text {
    line-height: 1.5625rem;
  }
}
@media only screen and (max-width: 390px) {
  .t-shirt {
    width: 50%;
  }
  .slider__title {
    font-size: 1.875rem;
    line-height: 1.6875rem;
  }
}
