.basket__wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 0.5;
  margin: 1.2813rem 0;
  cursor: default;
  position: relative;
}
.basket__wrap .username {
  margin-right: 0.625rem;
}
.basket__wrap img {
  cursor: pointer;
}

.basket__price {
  font-size: 2.0625rem;
  line-height: 2.0625rem;
}
.basket__count {
  position: absolute;
  top: -0.625rem;
  right: -0.75rem;
  background-color: red;
  color: #ffffff;
  padding: 0.125rem 0.5rem;
  border-radius: 50%;
}

@media only screen and (max-width: 560px) {
  .basket__wrap {
    justify-content: center;
  }
  .basket__count {
    right: 0.75rem;
  }
}
